header
  h1.logo Important Keywords
  
  nav.site-nav
    ul
      li: a(href="#home") Home
      li: a(href="#about") About
      li: a(href="#gallery") Gallery
      li: a(href="#contact") Contact
      
      
  a(href="@gmail.com").email-link +email me
